<div class="row justify-content-center">
  <div class="col-3 mx-auto">
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/cat_icon.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">PROFILE</h5>
        <table class="table">
          <tr>
            <td>First Name</td>
            <td>{{details.first_name}}</td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td>{{details.last_name}}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{details.email}}</td>
          </tr>
        </table>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
